{% spaceless %}
    <div class="item_wrapper">
        <table>
            {% for media in medias %}
                <tr id="media_item_{{ media.id }}" class="media media_{{ media.type }}"
                    data-media-id="{{ media.id }}"
                    data-media-name="{{ media.name }}"
                    data-media-type="{{ media.type }}"
                    data-media-preview="{{ media.thumbnail.mediaPath }}"
                    data-media-thumbnail="{{ media.thumbnail.mediaPath|imagine_filter('media_thumb_large', true) ~ '?' ~ random(9999) }}"
                    data-media-url="{{ media.mediaPath }}"
                    data-media-edit="{{ path(media.getRouteBackend(), media.getRouteBackendParams()) }}"
                    data-media-size="{{ media.size }}"
                    data-media-caption="{{ media.caption }}"
                    {% if 'image' == media.type %}
                        data-media-aviary="{{ path(media.getRouteBackend('aviary_edit'), media.getRouteBackendParams()) }}"
                    {% endif %}>

                    <td class="image">
                        <img src="{{ media.thumbnail.mediaPath|imagine_filter('media_thumb', true) ~ '?' ~ random(9999)}}" title="{{ media.name }}">
                    </td>
                    <td class="detail">
                        <h3>{{ media.name }}</h3>
                        <p>{% if media.type == 'embedvideo' %}{% trans %}Embed Video{% endtrans %}{% else %}{{ media.type }}{% endif %}</p>
                        {% if media.type == 'image' %}
                            <p class="format">{{ media.width }} X {{ media.height }}</p>
                        {% endif %}
                    </td>
                    <td class="date">
                        <p>
                            <strong>{{ media.createdAt|date('Y-m-d') }}</strong>
                            <br>
                            <strong>{{ media.createdAt|date('H:i') }}</strong>
                        </p>
                        <p class="size">{{ (media.size / 1024)|number_format(2, '.', ' ') }} {% trans %}kb{% endtrans %}</p>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if medias|length > 0 %}
        <div id="pager_wrapper">
            <div id="media_pager">
            </div>
        </div>

        <script type="text/javascript">
            $('#media_pager').pagination({
                pages: {{ pagesTotal }},
                currentPage: {{ page }},
                cssStyle: 'light-theme',
                onPageClick: function(pageNumber, event){

                    event.preventDefault();

                    $('#media_ajax_loader').show();

                    $.ajax({
                        method: "GET",
                        url: Routing.generate('flexy_media_backend_media_select_pager'),
                        data: {folderId: '{{ folderId }}', page: pageNumber, type: '{{ type }}', view: '{{ view }}'},
                        contentType: 'json',
                        success: function(data) {
                            $('#media_list').html($(data.html));
                            $('#media_ajax_loader').hide();
                        }
                    });
                }
            });
        </script>
    {% endif %}

{% endspaceless %}

