{% spaceless %}
    <div class="item_wrapper{% if pagesTotal == 1 %} full{% endif %}">
        <div class="bg">
            <div class="scroll">
                <h4 class="subtitle">{% trans %}Media list{% endtrans %}</h4>
                {% if medias|length > 0 %}
                    <table class="table">
                        {% for media in medias %}
                            <tr id="media_item_{{ media.id }}" class="media media_{{ media.type }}"
                                data-media-id="{{ media.id }}"
                                data-media-name="{{ media.name }}"
                                data-media-type="{{ media.type }}"
                                data-media-preview="{{ media.thumbnail.mediaPath }}"
                                data-media-thumbnail="{{ media.thumbnail.mediaPath|imagine_filter('media_thumb_large') ~ '?' ~ random(9999) }}"
                                data-media-url="{{ media.mediaPath }}"
                                data-media-size="{{ media.size }}"
                                data-media-caption="{{ media.caption }}"
                                {% if 'image' == media.type %}
                                data-media-aviary="{{ path(media.getRouteBackend('aviary_edit'), media.getRouteBackendParams()) }}"
                                {% endif %}>

                                <td class="image">
                                    <img src="{{ media.thumbnail.mediaPath|imagine_filter('media_thumb') ~ '?' ~ random(9999)}}" title="{{ media.name }}">
                                </td>
                                <td class="detail">
                                    <h5 class="fm-title">{{ media.name }}</h5>
                                    <p class="text-muted">{% if media.type == 'embedvideo' %}{% trans %}Embedded Video{% endtrans %}{% else %}{{ media.type }}{% endif %}</p>
                                    {% if media.type == 'image' %}
                                        <p class="text-muted"><strong>{{ media.width }} X {{ media.height }}</strong></p>
                                    {% endif %}
                                </td>
                                <td class="date">
                                    <h5 class="fm-title">{{ media.createdAt|date('Y-m-d') }}</h5>
                                    <h5 class="fm-title">{{ media.createdAt|date('H:i') }}</h5>
                                    <p class="text-muted">{{ (media.size / 1024)|number_format(2, '.', ' ') }} {% trans %}kb{% endtrans %}</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <h5 class="subtitle">{% trans %}No result{% endtrans %}</h5>
                {% endif %}
            </div>
            {#<div class="total">#}
            {#<span class="sub-total"></span>#}
            {#{% trans %}No result{% endtrans %}#}
            {#</div>#}

            {% if pagesTotal > 1 %}
                <div id="pager_wrapper">
                    <div id="media_pager">
                    </div>
                </div>

                <script type="text/javascript">
                    $('#media_pager').pagination({
                        pages: {{ pagesTotal }},
                        currentPage: {{ page }},
                        cssStyle: 'light-theme',
                        onPageClick: function(pageNumber, event){

                            event.preventDefault();

                            mediaManagerAjaxLoader.show();

                            $.ajax({
                                url: Routing.generate('unifik_media_backend_load'),
                                data: {
                                    folderId: '{{ folderId }}',
                                    type: '{{ type }}',
                                    text: '{{ text }}',
                                    date: '{{ date }}',
                                    page: pageNumber,
                                    view: (mediaManagerIsCk) ? 'ckeditor' : 'mediafield',
                                    init: false
                                },
                                dataType: 'json',
                                success: function (data) {

                                    // Append html content
                                    $('#media_list').html($(data.html));
                                    mediaManagerAjaxLoader.hide();
                                    mediaManagerInitialize();
                                    mediaManagerFilters.page = pageNumber;
                                    mediaManagerLoadBind();

                                },
                                error: function () {

                                    // Append html content
                                    mediaManagerModal.html($('<h2>{% trans %}Internal Server Error{% endtrans %}</h2>'));

                                }
                            });
                        }
                    });
                </script>
            {% endif %}
        </div>
    </div>
{% endspaceless %}
