{% spaceless %}
    <div class="edit_wrapper">
        {% form_theme form 'UnifikSystemBundle:Backend/Core:edit_fields.html.twig' %}

        <form id="edit_form" novalidate="novalidate" method="post" {{ form_enctype(form) }}>

            <input class="save" type="submit" value="{% trans %}Save{% endtrans %}" name="save" />

            <h1>{{ media }}</h1>

            <div id="fields_box">
                <table class="fields" cellspacing="0">

                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}

                    {{ form_row(form.url) }}

                    {{ form_row(form.description) }}

                    {{ form_row(form.caption) }}

                    {{ form_rest(form) }}

                    {% if media.id %}
                        <tr>
                            <th>
                                {% trans %}Last update {% endtrans %} :
                            </th>
                            <td style="vertical-align:bottom">
                                {{ media.updatedAt|date }}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {% trans %}Uploaded on {% endtrans %} :
                            </th>
                            <td style="vertical-align:bottom">
                                {{ media.createdAt|date }}
                            </td>
                        </tr>
                </table>
            </div>

        </form>
    </div>
{% endspaceless %}