{% spaceless %}
    <div class="edit_wrapper">
        {% form_theme form 'UnifikSystemBundle:Backend/Core:edit_fields.html.twig' %}

        <form id="edit_form" novalidate="novalidate" method="post" {{ form_enctype(form) }}>

            <input class="save" type="submit" value="{% trans %}Save{% endtrans %}" name="save" />

            <h1>{{ media }}</h1>

            <div id="fields_box">
                <table class="fields" cellspacing="0">

                    {{ form_errors(form) }}

                    {{ form_row(form.name) }}

                    {{ form_row(form.description) }}

                    {{ form_row(form.caption) }}

                    {{ form_rest(form) }}

                    <tr>
                        <th>
                            {% trans %}Last Update{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ media.updatedAt|date }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}Uploaded on{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ media.createdAt|date }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}File Extension{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ fileExtension }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}Real Filename{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ realName }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}Format{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {% if media.width is not empty and media.height is not empty %}
                                {{ media.width ~ ' X ' ~ media.height }} (px)
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {% trans %}Size{% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ (media.size / 1024)|number_format(2, '.', ' ') }} {% trans %}kb{% endtrans %}
                        </td>
                    </tr>
                </table>
            </div>

        </form>
    </div>
{% endspaceless %}
