{% form_theme form 'UnifikMediaBundle:Backend/Media/Image:image_form_theme.html.twig' %}

{% spaceless %}
    <div class="row">

       <form id="edit_form" novalidate="novalidate" method="post" {{ form_enctype(form) }}>
           <div class="col-md-12">
               <div class="panel panel-dark">
                   <div class="panel-heading">
                       <h3 class="panel-title">{{ media }}</h3>
                   </div>
                   <div class="panel-body">

                        {{ form_errors(form) }}

                        {{ form_row(form.name) }}

                        {{ form_row(form.description) }}

                        {{ form_row(form.caption) }}

                        {{ form_rest(form) }}

                       <div class="form-group">
                           <label class="col-sm-4 control-label">{% trans %}Last Update{% endtrans %}</label>
                           <div class="col-sm-8">
                               {{ media.updatedAt|localizeddate('medium') }}
                           </div>
                       </div>

                       <div class="form-group">
                           <label class="col-sm-4 control-label">{% trans %}Uploaded on{% endtrans %}</label>
                           <div class="col-sm-8">
                               {{ media.createdAt|localizeddate('medium') }}
                           </div>
                       </div>

                       <div class="form-group">
                           <label class="col-sm-4 control-label">{% trans %}File Extension{% endtrans %}</label>
                           <div class="col-sm-8">
                               {{ fileExtension }}
                           </div>
                       </div>

                       <div class="form-group">
                           <label class="col-sm-4 control-label">{% trans %}Real Filename{% endtrans %}</label>
                           <div class="col-sm-8">
                               {{ realName }}
                           </div>
                       </div>

                       <div class="form-group">
                           <label class="col-sm-4 control-label">{% trans %}Size{% endtrans %}</label>
                           <div class="col-sm-8">
                               {{ (media.size / 1024)|number_format(2, '.', ' ') }} {% trans %}kb{% endtrans %}
                           </div>
                       </div>
                   </div><!-- panel-body -->
                   <div class="panel-footer text-right">
                       <a href="#" class="btn btn-default pull-left library">{% trans %}Cancel{% endtrans %}</a>
                       <button type="submit" class="btn btn-darkblue" name="save">{% trans %}Save{% endtrans %}</button>
                   </div>
               </div>
            </div>
       </form>
    </div>
{% endspaceless %}