{% extends 'FlexySystemBundle:Backend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# User symlink path cause @ target have a known issue with the css rewrite filter #}
    {% stylesheets filter='cssrewrite'
        'bundles/flexymedia/backend/css/*'
        'bundles/flexymedia/backend/css/blueimp/*'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block content %}

    {% block content_header %}<h1>{% trans %}Medias{% endtrans %}</h1>{% endblock %}

    {% block flash_message %}

        {% if app.session.flashbag.has('success') %}
            <div class="flash-success">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <p>{{ flashMessage|trans }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashbag.has('error') %}
            <div class="flash-error">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p>{{ flashMessage|trans }}</p>
                {% endfor %}
            </div>
        {% endif %}

    {% endblock %}

    {% block content_main '' %}

    <div id="delete_dialog"></div>

    {# Script not in external file cause it need translations, triggered in media.js  #}
    <script type="text/javascript">
        function deleteScript() {

            $('a#media-delete').click(function(e){
                if ($(this).attr('rel')) {
                    var linkObj = $(this);

                    $.ajax({
                        type: "GET",
                        dataType: 'json',
                        url: $(this).attr('rel'),
                        beforeSend: function(){
                            $('#loading').show();
                        },
                        success: function(response){

                            $('#loading').hide();
                            $('#delete_dialog').html(response.template);

                            if (response.isDeletable) {
                                $('#delete_dialog').dialog({
                                    modal: true,
                                    width: 600,
                                    title: "{% trans %}Delete confirmation{% endtrans %}",
                                    buttons: {
                                        "{% trans %}Delete{% endtrans %}": function() {
                                            window.location = linkObj.attr('href');
                                            $(this).dialog("close");
                                        },
                                        "{% trans %}Cancel{% endtrans %}": function() {
                                            $(this).dialog("close");
                                        }
                                    }
                                });

                            } else {
                                $('#delete_dialog').dialog({
                                    modal: true,
                                    title: "{% trans %}Notice{% endtrans %}",
                                    buttons: {
                                        Ok: function() {
                                            $(this).dialog("close");
                                        }
                                    }
                                });
                            }
                        }
                    });

                    e.preventDefault();
                }
            });

        }
    </script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>

    {% javascripts
        '@FlexyMediaBundle/Resources/public/backend/js/media.js'
        '@FlexyMediaBundle/Resources/public/backend/js/jquery.simplePagination.js'

        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.iframe-transport.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-process.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-image.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-audio.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-video.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-validate.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-ui.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-jquery-ui.js'
        '@FlexyMediaBundle/Resources/public/backend/js/blueimp/main.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}