{% extends 'UnifikSystemBundle:Backend:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# Use symlink path cause @ target have a known issue with the css rewrite filter #}
    {% stylesheets filter='cssrewrite'
        'bundles/unifikmedia/backend/css/blueimp/blueimp-gallery.min.css'
        'bundles/unifikmedia/backend/css/blueimp/jquery.fileupload-ui.css'
        'bundles/unifikmedia/backend/css/media_select.css'
        'bundles/unifikmedia/backend/css/simplePagination.css'
        'bundles/unifikmedia/backend/css/ui.dynatree.css'
        'bundles/unifikmedia/backend/css/jquery.contextMenu.css'
        'bundles/unifikmedia/backend/css/select2/select2.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block content %}

    {% block content_header %}<h1>{% trans %}Medias{% endtrans %}</h1>{% endblock %}

    {% block flash_message %}

        {% if app.session.flashbag.has('success') %}
            <div class="flash-success">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <p>{{ flashMessage|trans }}</p>
                {% endfor %}
            </div>
        {% endif %}

        {% if app.session.flashbag.has('error') %}
            <div class="flash-error">
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <p>{{ flashMessage|trans }}</p>
                {% endfor %}
            </div>
        {% endif %}

    {% endblock %}

    {% block content_main '' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@UnifikMediaBundle/Resources/public/backend/js/feather.js'
        '@UnifikMediaBundle/Resources/public/backend/js/tmpl.min.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/load-image.all.min.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/canvas-to-blob.min.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.blueimp-gallery.min.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.iframe-transport.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-process.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-image.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-audio.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-video.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-validate.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-ui.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/jquery.fileupload-jquery-ui.js'
        '@UnifikMediaBundle/Resources/public/backend/js/blueimp/main.js'

        '@UnifikMediaBundle/Resources/public/backend/js/jquery.cookie.js'
        '@UnifikMediaBundle/Resources/public/backend/js/jquery.dynatree.js'
        '@UnifikMediaBundle/Resources/public/backend/js/jquery.ui.position.js'
        '@UnifikMediaBundle/Resources/public/backend/js/jquery.contextMenu.js'
        '@UnifikMediaBundle/Resources/public/backend/js/select2/select2.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('unifik_media_backend_js') }}"></script>
{% endblock %}