{% extends 'EgzaktMediaBundle:Backend/Media:layout_ajax.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/egzaktmedia/backend/css/jquery.plupload.queue.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/egzaktmedia/backend/css/jquery.ui.plupload.css') }}" />
{% endblock %}

{% block content_hemediaer %}
    <h1>{% trans %}Add medias{% endtrans %}</h1>
{% endblock %}

{% block content_main  %}

    {% javascripts
    '@EgzaktMediaBundle/Resources/public/backend/js/plupload/plupload.full.js'
    '@EgzaktMediaBundle/Resources/public/backend/js/plupload/jquery.ui.plupload/jquery.ui.plupload.js'
    '@EgzaktMediaBundle/Resources/public/backend/js/plupload/jquery.plupload.queue/jquery.plupload.queue.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <div>
        <div id="uploader-message"></div>
        <form>
            <div id="uploader">
            </div>
        </form>
    <script>
        $().ready((function() {
           $("#uploader").plupload({
                // General settings
                runtimes : 'html5,gears,flash,silverlight',
                url : '{{ url('egzakt_media_backend_media_create') }}',
                max_file_size : '10mb',
                chunk_size : '1mb',
                unique_names : true,

                // Flash settings
                flash_swf_url : '/plupload/js/plupload.flash.swf',

                // Silverlight settings
                silverlight_xap_url : '/plupload/js/plupload.silverlight.xap'
            });

            var uploader = $('#uploader').plupload('getUploader');

            uploader.bind('Error', function(up, error){
                $('.plupload_header_text').html(error.message);
            });

            uploader.bind('FileUploaded', function(up, file, data){
                var response = $.parseJSON(data.response);
                if(response.error){
                    up.trigger('error', response);
                }
                $('.plupload_header_text').html(response.message);
                file.name = '<a href="' + response.url + '">' + file.name  + "</a>";
                file.id = response.id;
                file.thumbnailUrl = response.thumbnailUrl;
            });

            uploader.bind('UploadComplete', function(up, files){
                var parent = $.mediaManager.triggeringElement.parent();

                parent.find('.input-media').val(files[0].id);
                parent.find('.image-media').attr('src', files[0].thumbnailUrl);

                $.fancybox.close();
            });

            $('form').submit(function(e) {
                var uploader = $('#uploader').plupload('getUploader');

                if (uploader.files.length > 0) {
                    uploader.bind('StateChanged', function() {
                        if (uploader.files.length === (uploader.total.uploaded + uploader.total.failed)) {
                            $('form')[0].submit();
                        }
                    });

                    uploader.start();
                } else
                    alert('You must at least upload one file.');

                return false;
            });
        }));
    </script>
{% endblock %}