{% extends 'EgzaktAdBundle:Backend/Ad:layout.html.twig' %}
{% form_theme form 'EgzaktSystemBundle:Backend/Core:edit_fields.html.twig' %}

{% block content_hemediaer %}
    <h1>{{ media.i18nTitle|trans|raw }}</h1>
{% endblock %}

{% block content_main %}

    {% stylesheets
    '@EgzaktMediaBundle/Resources/public/backend/css/*'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}

    <form novalidate="novalidate" action="{{ path(media.route, media.routeParams) }}" method="post" {{ form_enctype(form) }}>

        {% include 'EgzaktSystemBundle:Backend/Core:edit_actions.html.twig' with {
        'entity': media,
        'delete_route': path('egzakt_media_backend_media_delete', media.routeParams),
        'cancel_route': path('egzakt_media_backend_media'),
        } %}

        <div id="fields_box">
            <table class="fields" cellspacing="0">
                {{ form_rest(form) }}

                {% if media.id %}
                    <tr>
                        <th>
                            {% trans %}Last update {% endtrans %} :
                        </th>
                        <td style="vertical-align:bottom">
                            {{ media.updatedAt|date }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>

        {% if isImage %}
            <a href="{{ path('egzakt_media_backend_media_pixlr_open', media.routeParams) }}" id="edit-pixlr">Éditer avec pixlr</a>
        {% endif %}

        {% include 'EgzaktSystemBundle:Backend/Core:edit_actions.html.twig' with {
        'entity': media,
        'delete_route': path('egzakt_media_backend_media_delete', media.routeParams),
        'cancel_route': path('egzakt_media_backend_media'),
        } %}

    </form>

    {% javascripts
    '@EgzaktMediaBundle/Resources/public/backend/js/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock content_main %}
