{% extends 'EgzaktMediaBundle:Backend/Media:layout_ajax.html.twig' %}

{% block content_hemediaer %}
    <h1>{% trans %}Media list{% endtrans %}</h1>
{% endblock %}

{% block content_main %}
    {% if 'all' == type %}
        <ul id="media-filters">
            <li><a class="media-filter"><input type="hidden" value="image">Images</a></li>
            <li><a class="media-filter"><input type="hidden" value="video">Videos</a></li>
            <li><a class="media-filter"><input type="hidden" value="document">Documents</a></li>
        </ul>
    {% endif %}
    <div id="media-list">
        <div class="list_box">
            {% for media in medias %}
                <div id="item_{{ media.id }}" class="media media-{{ media.type }}">
                    <input type="hidden" name="id" value="{{ media.id }}">
                    <input type="hidden" name="name" value="{{ media.name }}">
                    <input type="hidden" name="type" value="{{ media.type }}">
                    <input type="hidden" name="edit-link" value="{{ path(media.route, media.routeParams) }}">
                    <img src="{{ media.thumbnailUrl | imagine_filter('media_thumb') }}" title="{{ media.name }}">
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="media-details">
        <div id="media-details-inner">
            <input type="hidden" name="selected-id">
            <h4></h4>
            <img>
            <div>
                <a id="edit-media-link">Edit</a>
            </div>
            <a id="insert-media">Insert</a>
        </div>
    </div>

    <script src="{{ asset('bundles/egzaktmedia/backend/js/media_list.js') }}"></script>

{% endblock content_main %}

