{% extends 'EgzaktMediaBundle:Backend/Media:layout_ajax.html.twig' %}

{% block content_hemediaer %}
    <h1>{% trans %}Media list{% endtrans %}</h1>
{% endblock %}

{% block content_main %}
    <ul id="media-filters">
        <li><a class="media-filter"><input type="hidden" value="image">Images</a></li>
        <li><a class="media-filter"><input type="hidden" value="video">Videos</a></li>
        <li><a class="media-filter"><input type="hidden" value="document">Documents</a></li>
    </ul>
    <div class="list_box">
        <table cellspacing="0" class="table-autosort">
            <thead>
            <tr>
                <th class="name table-sortable:ignorecase">{% trans %}Name{% endtrans %}</th>
                <th class="table-sortable:date">{% trans %}Last updated{% endtrans %}</th>
                <th>{% trans %}Thumbnail{% endtrans %}</th>

            </tr>
            <tr class="filters">
                <th class="name">
                    <input onkeyup="Table.filter(this,this)" class="filter" alt="{{ "Search a name"|trans }}" />
                </th>
                <th>&nbsp</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for media in medias %}
                <tr id="item_{{ media.id }}" class="media media-{{ media.type }}">
                    <td class="name">
                        <input type="hidden" value="{{ media.id }}">
                        <a class="media-link" href="{{ path(media.route, media.routeParams) }}">{{ media|raw }}</a>
                    </td>
                    <td>{{ media.updatedat|date('Y-m-d') }}</td>
                    <td>
                        <img src="{{ media.thumbnailUrl | imagine_filter('media_thumb') }}">
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $().ready(function(){
            $('.media-link').click(function(e){
                e.preventDefault();
                var row = $(this).parent().parent();
                var id = row.find('input[type=hidden]').val();
                var src = row.find('img').attr('src');

                var parent = $('#select-media').parent();
                parent.children('select').val(id);
                parent.children('img').attr('src', src);
                $.fancybox.close();
            });

            $('.media-filter').click(function(e){
                e.preventDefault();
                var type = $(this).find('input').val();
                $('.media').fadeOut().delay(400).parent().find('.media-'+type).fadeIn();
            });
        });
    </script>

{% endblock content_main %}

