{% extends 'EgzaktMediaBundle:Backend/Media:layout.html.twig' %}

{% block content_hemediaer %}
    <h1>{% trans %}Media list{% endtrans %}</h1>
{% endblock %}

{% block content_main %}

    {% include 'EgzaktMediaBundle:Backend/Media:list_actions.html.twig' %}

    <div class="list_box">
        <table cellspacing="0" class="table-autosort">
            <thead>
            <tr>
                <th class="name table-sortable:ignorecase">{% trans %}Name{% endtrans %}</th>
                <th class="table-sortable:date">{% trans %}Last updated{% endtrans %}</th>
                <th>{% trans %}Thumbnail{% endtrans %}</th>
                <th class="edit"></th>
                <th class="delete"></th>

            </tr>
            <tr class="filters">
                <th class="name">
                    <input onkeyup="Table.filter(this,this)" class="filter" alt="{{ "Search a name"|trans }}" />
                </th>
                <th>&nbsp</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for media in medias %}
                <tr id="item_{{ media.id }}">
                    <td class="name">
                        <a href="{{ path(media.route, media.routeParams) }}">{{ media|raw }}</a>
                    </td>
                    <td>
                        <img src="{{ media.mediaPath | imagine_filter('media_thumb') }}"
                    </td>
                    <td>{{ media.updatedat|date('Y-m-d') }}</td>
                    <td class="edit">
                        {% if media.isEditable %}
                            <a href="{{ path(media.route, media.routeParams) }}" title="{% trans %}Edit{% endtrans %}">
                                <img src="{{ asset('bundles/egzaktsystem/backend/images/buttons/edit.png') }}" width="15" height="15" alt="" />
                            </a>
                        {% endif %}
                    </td>
                    <td class="delete">
                        <a href="{{ path(media.route('delete'), media.routeParams) }}" rel="{{ path(media.route('delete'), media.routeParams({'message': true})) }}" title="{% trans %}Delete{% endtrans %}">
                            <img src="{{ asset('bundles/egzaktsystem/backend/images/buttons/delete.png') }}" width="12" height="15" alt="" />
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="total">
            <span class="sub-total"></span>
            {% set count = medias|length %}
            {% transchoice count %}{0} No results|{1} One result|]1,Inf] %count% results{% endtranschoice %}
        </div>
    </div>


{% endblock content_main %}

