{% if mediaType.length > 1 %}
<ul id="media-filters">
    <li><a class="media-filter"><input type="hidden" value="image">Images</a></li>
    <li><a class="media-filter"><input type="hidden" value="video">Videos</a></li>
    <li><a class="media-filter"><input type="hidden" value="document">Documents</a></li>
</ul>
{% endif %}

<div id="media-wrapper">
    <div id="media-list">
        <div class="list_box">
            {% set i = 0 %}
            {% for media in medias %}
                {% if media.type in mediaType %}
                <div id="item_{{ media.id }}" class="media media-{{ media.type }}" data-media-manager-id="{{ i }}">
                    <img src="{{ media.path }}" title="{{ media.name }}">
                </div>
                {% endif %}
                {% set i = i + 1 %}
            {% endfor %}
        </div>
    </div>

    <div id="media-details">
        <div id="media-details-inner">
            <input type="hidden" name="selected-id">
            <h4></h4>
            <img>
            <div>
                <a id="edit-media-link">Edit</a>
            </div>
            <a id="insert-media">Insert</a>
        </div>
    </div>
</div>

{% if mediaType.length > 1 %}
<script>
    $('.media').hide();
    $('.media-image').css('display', 'inline-block');
    $('.media-filter').click(function(e){
        e.preventDefault();
        var type = $(this).find('input').val();
        $('.media').fadeOut().delay(600).parent().find('.media-'+type).css({
            opacity: 0,
            display:'inline-block'
        }).animate({opacity: 1}, 1000);
    });
</script>
{% endif %}