<h4 class="subtitle">{% trans %}You are about to delete{% endtrans %} <strong>{{ medias|length }} {% trans %}media{% endtrans %}{% if medias|length > 1 %}s{% endif %}</strong></h4>
{% trans %}If you continue the following contents will be affected{% endtrans %}:<br>

{% for media in medias %}

    <h5>{{ media.name }}{% if media.associatedContents|length > 0 %} :{% endif %}</h5>

    {% if media.associatedContents|length > 0 %}
        <ul>
            {% for entityName,methodGroup in media.associatedContents %}
                {% for methodName,entities in methodGroup %}
                    <li>{{ entities|length }} {{ entityName|trans }} {% trans %}with this file as{% endtrans %} {{ methodName }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

<br>
{% trans %}Do you really want to continue{% endtrans %}?
